
<nav class="navbar navbar-expand-lg fixed-top " style="background-color: #97d8f9;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/logo2.png" alt="Logo" width="80" height="30" class="d-inline-block align-top"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> Home</a>
          </li>
        </ul>
        <button type="button" class="btn btn-success" (click)="login()"> <i class="fa fa-user" ></i> Log-In </button>
      </div>
    </div>
  </nav>