
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow">
      <div class="row">
        <h2 class="text-center mb-4">Admin Log-In</h2>
        <div class="col-md-6">
          <br><br><a href="/home"><img src="assets/logo2.png" alt="Image" class="img-fluid"></a>
        </div>
        <div class="col-md-6">
          
          <form>
            <div class="mb-3">
              <label for="username" class="form-label">Username</label>
              <input type="text" class="form-control" id="username" placeholder="Enter your username">
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Enter your password">
            </div>
      <button  class="fa fa-align-center" aria-hidden="true" type="submit" class="btn btn-primary" (click)="login()">Login</button>
    </form>
  </div>
</div>

