
<div class="container-fluid d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col text-center">
            <img src="assets/logo2.png" class="img-fluid" alt="Beautiful Image">
        </div>
    </div>
    <div class="row mt-4">
        <div class="col text-center">
            <h1>Welcome to the Admin Panel of STDC!</h1>
            <br>
            <button class="btn btn-success" (click)="login()">Log-In</button>
        </div>
    </div>
</div>


